[submodule "simple-prime-video-app"]
	path = simple-prime-video-app
	url = https://github.com/seyoonPuvi/simple-prime-video-app.git
[submodule "hamburgermenu-react-popup-lib"]
	path = hamburgermenu-react-popup-lib
	url = https://github.com/seyoonPuvi/hamburgermenu-react-popup-lib.git
[submodule "planets-react-slick"]
	path = planets-react-slick
	url = https://github.com/seyoonPuvi/planets-react-slick.git
[submodule "react-chrono-ccbp-timeline"]
	path = react-chrono-ccbp-timeline
	url = https://github.com/seyoonPuvi/react-chrono-ccbp-timeline.git
[submodule "dashboard-rechart.lib"]
	path = dashboard-rechart.lib
	url = https://github.com/seyoonPuvi/dashboard-rechart.lib.git
[submodule "simple-themeToggle-app"]
	path = simple-themeToggle-app
	url = https://github.com/seyoonPuvi/simple-themeToggle-app.git
